{% extends 'login.html' %}

{% block content %}

<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #db0f00;">
        <a class="navbar-brand" href="/">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/team">Team </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/login">Login </a>
                </li>
            </ul>

        </div>
</nav>

<div class="text-center jumbotron bg-danger" style="margin: 5%;">
    <h2 style="color: white">About</h2>
    <br>
    <p style="color: white; align: center;">asdfghjkasdfgasdfghsdfghjsdfghjasdfghsdfghsdfgthysdfg
    dfghsdfghjksdfghjkdfghjqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
    qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
    errrrrrrrrrrrrrrrrrrrrrrrrrrwwwwwwwwwwwwwwwwwwwwwwwww</p>
</div>

{% endblock %}